#include <Windows.h>
#include "Resource.h"

//IDR_ICON    ICON "res\\Word.ico"
//IDR_TOOLBAR BITMAP "res\\Toolbar.bmp"
/*
IDR_TOOLBAR TOOLBAR 16, 15
BEGIN
  BUTTON ID_FILE_OPEN
  BUTTON ID_FILE_SAVE
  BUTTON ID_FILE_NEW
  SEPARATOR
  BUTTON ID_EDIT_CUT
  BUTTON ID_EDIT_COPY
  BUTTON ID_EDIT_PASTE
  SEPARATOR
  BUTTON ID_ALIGN_LEFT
  BUTTON ID_ALIGN_CENTER
  BUTTON ID_ALIGN_RIGHT
  BUTTON ID_ALIGN_JUSTIFIED
  BUTTON ID_FORMAT_FONT
END
*/
IDR_MENUBAR MENU 
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl-N", ID_FILE_NEW
    MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
    MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
    MENUITEM "Save &As...", ID_FILE_SAVEAS
    MENUITEM "Print S&etup...", ID_FILE_PRINT_SETUP
    MENUITEM "Print P&review...", ID_FILE_PRINT_PREVIEW
    MENUITEM "&Print...\tCtrl+P", ID_FILE_PRINT
    MENUITEM SEPARATOR
    MENUITEM "E&xit", ID_APP_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "Cu&t\tCtrl+X", ID_EDIT_CUT
    MENUITEM "&Copy\tCtrl+C", ID_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE
    MENUITEM "Page &Break\tCtrl+B", ID_EDIT_PAGEBREAK
  END
  POPUP "F&ormat"
  BEGIN
    MENUITEM "&Font\tCtrl-F ...", ID_FORMAT_FONT
    POPUP "&Zoom"
    BEGIN
      MENUITEM "&Increase\tCtrl-I", ID_FORMAT_INC_ZOOM
      MENUITEM "&Decrease\tCtrl-D", ID_FORMAT_DEC_ZOOM
    END
  END
  POPUP "&Alignment"
  BEGIN
    MENUITEM "&Left\tCtrl-L", ID_ALIGN_LEFT
    MENUITEM "&Center\tCtrl-E", ID_ALIGN_CENTER
    MENUITEM "&Right\tCtrl-R", ID_ALIGN_RIGHT
    MENUITEM "&Justified\tCtrl-J", ID_ALIGN_JUSTIFIED
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About Word ...", ID_APP_ABOUT
  END
END

IDR_ACCELTABLE ACCELERATORS 
BEGIN
  "N", ID_FILE_NEW, VIRTKEY, CONTROL
  "O", ID_FILE_OPEN, VIRTKEY, CONTROL
  "S", ID_FILE_SAVE, VIRTKEY, CONTROL
  "P", ID_FILE_PRINT, VIRTKEY, CONTROL
  "X", ID_EDIT_CUT, VIRTKEY, CONTROL
  "C", ID_EDIT_COPY, VIRTKEY, CONTROL
  "V", ID_EDIT_PASTE, VIRTKEY, CONTROL
  "B", ID_EDIT_PAGEBREAK, VIRTKEY, CONTROL
  "F", ID_FORMAT_FONT, VIRTKEY, CONTROL
  "I", ID_FORMAT_INC_ZOOM, VIRTKEY, CONTROL
  "D", ID_FORMAT_DEC_ZOOM, VIRTKEY, CONTROL
  "L", ID_ALIGN_LEFT, VIRTKEY, CONTROL
  "E", ID_ALIGN_CENTER, VIRTKEY, CONTROL
  "R", ID_ALIGN_RIGHT, VIRTKEY, CONTROL
  "J", ID_ALIGN_JUSTIFIED, VIRTKEY, CONTROL
END