#include <Windows.h>
#include "Resource.h"

IDR_PRINTBOX DIALOG DISCARDABLE 20, 20, 186, 63
STYLE DS_MODALFRAME | WS_POPUP |
      WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 10, "Times New Roman"
BEGIN
  PUSHBUTTON "&Cancel", IDCANCEL, 67, 42, 50, 14
  CTEXT "", ID_PRINTMESSAGE, 7, 21, 172, 8
END