#include <Windows.h>
#include "Resource.h"

//IDR_ICON        ICON          "res\\Calc.ico"
//IDR_TOOLBAR       BITMAP          "res\\Toolbar.bmp"

IDR_MENUBAR MENU 
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl-N", ID_FILE_NEW
    MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
    MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
    MENUITEM "Save &As...", ID_FILE_SAVEAS
    MENUITEM SEPARATOR
    MENUITEM "E&xit",  ID_APP_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "Cu&t\tCtrl+X", ID_EDIT_CUT
    MENUITEM "&Copy\tCtrl+C", ID_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE
    MENUITEM SEPARATOR
    MENUITEM "&Delete\tDelete", ID_EDIT_DELETE
  END
  POPUP "F&ormat"
  BEGIN
    MENUITEM "&Font ...\tCtrl-F", ID_FORMAT_FONT
    POPUP "&Color"
    BEGIN
      MENUITEM "&Text ...\tCtrl-T", ID_COLOR_TEXT
      MENUITEM "&Background ...\tCtrl-B", ID_COLOR_BACKGROUND
    END
  END
  POPUP "&Alignment"
  BEGIN
    POPUP "&Horizontal"
    BEGIN
      MENUITEM "&Left", ID_ALIGN_HORZ_LEFT
      MENUITEM "&Center", ID_ALIGN_HORZ_CENTER
      MENUITEM "&Right", ID_ALIGN_HORZ_RIGHT
      MENUITEM "&Justified", ID_ALIGN_HORZ_JUSTIFIED
    END
    POPUP "&Vertical"
    BEGIN
      MENUITEM "&Top", ID_ALIGN_VERT_TOP
      MENUITEM "&Center", ID_ALIGN_VERT_CENTER
      MENUITEM "&Bottom", ID_ALIGN_VERT_BOTTOM
    END
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About Calc ...", ID_APP_ABOUT
  END
END

IDR_ACCELTABLE ACCELERATORS 
BEGIN
  "O", ID_FILE_OPEN, VIRTKEY, CONTROL
  "S", ID_FILE_SAVE, VIRTKEY, CONTROL
  VK_DELETE, ID_EDIT_DELETE, VIRTKEY
  "X", ID_EDIT_CUT, VIRTKEY, CONTROL
  "C", ID_EDIT_COPY, VIRTKEY, CONTROL
  "V", ID_EDIT_PASTE, VIRTKEY, CONTROL
  "F", ID_FORMAT_FONT, VIRTKEY, CONTROL
  "T", ID_COLOR_TEXT, VIRTKEY, CONTROL
  "B", ID_COLOR_BACKGROUND, VIRTKEY, CONTROL
END

IDR_TOOLBAR TOOLBAR 16, 16
BEGIN
  BUTTON    ID_FILE_NEW
  BUTTON    ID_FILE_OPEN
  BUTTON    ID_FILE_SAVE
  SEPARATOR
  BUTTON    ID_EDIT_CUT
  BUTTON    ID_EDIT_COPY
  BUTTON    ID_EDIT_PASTE
  BUTTON    ID_EDIT_DELETE
  SEPARATOR
  BUTTON    ID_ALIGN_HORZ_LEFT
  BUTTON    ID_ALIGN_HORZ_CENTER
  BUTTON    ID_ALIGN_HORZ_RIGHT
  BUTTON    ID_ALIGN_HORZ_JUSTIFIED
  SEPARATOR
  BUTTON    ID_ALIGN_VERT_TOP
  BUTTON    ID_ALIGN_VERT_CENTER
  BUTTON    ID_ALIGN_VERT_BOTTOM
END
