#include <Windows.h>
#include "Resource.h"

IDR_SETUPDIALOG DIALOG DISCARDABLE 100, 100, 350, 220
CAPTION "Print Setup"
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
                    | WS_SYSMENU
FONT 10, "Times New Roman"
BEGIN
  GROUPBOX "Margins", ID_MARGINS_GROUP,
           10, 10, 330, 50, BS_GROUPBOX
  
  LTEXT "&Top Margin:", ID_TOP_PROMPT, 20, 20, 50, 10, SS_LEFT
  EDITTEXT ID_TOP_MARGIN, 70, 20, 100, 10,
           ES_LEFT | WS_BORDER | WS_TABSTOP

  LTEXT "&Bottom Margin:", ID_BOTTOM_PROMPT,
        180, 20, 50, 10, SS_LEFT
  EDITTEXT ID_BOTTOM_MARGIN, 230, 20, 100, 10,
           ES_LEFT | WS_BORDER | WS_TABSTOP

  LTEXT "&Left Margin:", ID_LEFT_PROMPT, 20, 40, 50,10,SS_LEFT
  EDITTEXT ID_LEFT_MARGIN, 70, 40, 100, 10,
           ES_LEFT | WS_BORDER | WS_TABSTOP

  LTEXT "&Right Margin:", ID_RIGHT_PROMPT,
        180, 40, 50, 10, SS_LEFT
  EDITTEXT ID_RIGHT_MARGIN, 230, 40, 100, 10,
           ES_LEFT | WS_BORDER | WS_TABSTOP

  GROUPBOX "Header", ID_HEADER_GROUP,
           10, 70, 330, 50, BS_GROUPBOX
  LTEXT "&Header Text:", ID_HEADER_PROMPT,
        20, 80, 50, 10, WS_GROUP
  EDITTEXT ID_HEADER_TEXT, 70, 80, 260, 10,
           ES_LEFT | WS_BORDER | WS_TABSTOP
  AUTOCHECKBOX "H&eader at First Page", ID_HEADER_FIRSTPAGE,
               70, 100, 100, 10, BS_CHECKBOX | WS_TABSTOP
  PUSHBUTTON "He&ader Font", ID_HEADER_FONT,
             260, 95, 70, 20, WS_TABSTOP

  GROUPBOX "Footer", ID_FOOTER_GROUP,
           10, 130, 330, 50, BS_GROUPBOX
  LTEXT "&Footer Text:", ID_FOOTER_PROMPT,
        20, 140, 50, 10, WS_GROUP
  EDITTEXT ID_FOOTER_TEXT, 70, 140, 260, 10,
           ES_LEFT | WS_BORDER | WS_TABSTOP
  AUTOCHECKBOX "F&ooter at First Page", ID_FOOTER_FIRSTPAGE,
               70, 160, 100, 10, BS_CHECKBOX | WS_TABSTOP
  PUSHBUTTON "Footer Fo&nt", ID_FOOTER_FONT,
             260, 155, 70, 20, WS_TABSTOP

  AUTOCHECKBOX "Page &Surronded by Frame", ID_PRINT_FRAME,
               70, 195, 100, 10, BS_CHECKBOX | WS_TABSTOP
  PUSHBUTTON "OK", IDOK, 180, 190, 70, 20, WS_TABSTOP
  PUSHBUTTON "Cancel", IDCANCEL, 260, 190, 70, 20, WS_TABSTOP
END